
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Banco Occidente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 400px;
            text-align: center;
        }

            .login-container img {
                width: 100px;
                margin-bottom: 1rem;
            }

            .login-container h5 {
                margin-bottom: 1.5rem;
                color: #000000;
            }

        .form-control {
            border-radius: 30px;
            padding: 0.75rem 1.25rem;
            border: 1px solid #ccc;
        }

        .btn-login {
            background-color: #F2971F;
            color: #fff;
            border-radius: 30px;
            padding: 0.75rem;
            width: 100%;
            border: none;
        }

            .btn-login:hover {
                background-color: #d87e1b;
            }

        .form-group input {
            color: #000000;
        }

        .error {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <img src="~/img/bancocci_logo.png" alt="Banco Occidente Logo">
        <h5>
            Examen Practico - Banco de Occidente S.A.
        </h5>
        <form id="loginForm" method="post" asp-action="Authenticate">
            <div class="form-group">
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordUsuario" name="passwordUsuario" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-login">Iniciar Sesión</button>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="error">@ViewBag.ErrorMessage</div>
            }
        </form>
    </div>
</body>
</html>
